@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --very-dark-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
